{% extends "HalReleaseWebBundle::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="span8">Explications</div>

        <div class="span4">

            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Informations</li>
                    <li><i class="icon icon-user"></i>Developers: {{ statistic.sum.nbOwners }}</li>
                    <li><i class="icon icon-book"></i>Repositories: {{ statistic.sum.nbRepositories }}</li>
                    <li><i class="icon icon-leaf"></i>Branches: {{ statistic.sum.nbBranches }}</li>

                    <li class="nav-header">Statistics</li>
                    <li><i class="icon icon-ok-sign"></i>Using of latest packages : {{ statistic.sum.nbRequirementsStatusLatest }}</li>
                    <li><i class="icon icon-warning-sign"></i>Using of recent packages : {{ statistic.sum.nbRequirementsStatusRecent }}</li>
                    <li><i class="icon icon-exclamation-sign"></i>Using of outdated packages : {{ statistic.sum.nbRequirementsStatusOutOfDate }}</li>
                </ul>
            </div>

            {% if app.user is null %}
            <div class="well">
                <a href="{{ hwi_oauth_login_url('github') }}" class="btn btn-info"><i class="icon icon-user icon-white"></i> Login with Github</a>
            </div>
            {% endif %}


            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">Recent repositories</li>
                    {% for repository in repositories %}
                        <li>
                            <a href="{{ path('repository.list.by.owner', {login: repository.owner.login}) }}"
                                    >{{ repository.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>






{% endblock %}