{% extends "HalReleaseWebBundle::base.html.twig" %}

{% block title %}{% trans with {'%owner.login%': owner.login}  %}site.repository.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%owner.login%': owner.login}  %}site.repository.description{% endtrans %}{% endblock %}

{% block body %}

    <div class="row">
        <div id="owner-profile" class="span4">


            <div class="media">
                <div class="pull-left">
                    <img class="img-polaroid img-owner" src="{{ owner.gravatarUrl }}"/>
                </div>
                <div class="media-body">
                    <a href="https://www.github.com/{{ owner.login }}"
                                       target="_blank">{{ owner.login }}</a>
                    <br/> {{ repositories | length }} repositories
                </div>

            </div>


            {% include 'HalReleaseWebBundle:Repository:block.versionlegend.html.twig' %}



        </div>

        <div id="owner-repositories" class="span8">

            <h1>Repositories of {{ owner.login }}</h1>

            <ul class="breadcrumb">
                <li><a href="#">Home</a> <span class="divider">/</span></li>
                <li class="active">{{ owner.login }}</li>
            </ul>


            <p>
                Here you can get information about dependencies used by each branche of repository of <strong><a
                    href="{{ owner.url }}" target="_blank">{{ owner.login }}</a></strong>.
            </p>

            <p>

            </p>

            <table class="table table-stripped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Repository</th>
                    <th>Branches</th>
                </tr>
                </thead>
                <tbody>
                {% for repository in repositories if repository.enabled %}
                    <tr>
                        <td><a href="{{ repository.url }}">{{ repository.name }}</a></td>

                        <td>

                            {% for branche in repository.branches %}
                                <a href="{{ path('branche.display', {owner: owner.login, repository: repository.name, branche: branche.name}) }}"
                                        ><span class="label label-state-{{ requirement_state(branche) }}">{{ branche.name }}</span></a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}