<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" style="text/css" href="/bundles/halreleaseweb/css/app.css"/>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>


{% if app.user is not null %}
    <ul id="userbar">
        <li><a href="{{ path('developer_show', {'name': app.user.name }) }}"><img src="{{ app.user.avatarUrl }}" height="30" width="30" alt=""></a></li>
        <li class="username"><a href="{{ path('developer_show', {'name': app.user.name }) }}"><span>{{ app.user.name }}</span></a></li>
        <li class="logout"><a href="{{ path('_logout') }}"><i title="Log out" class="icon-off"></i></a></li>
    </ul>
{% else %}
    <ul id="auth-menu">
        <li class="login"><img src="{{ asset('bundles/knpbundles/images/icon_person.gif') }}" alt="Log out">Login via</li>
        <li>
            <ul>
                <li><a href="{{ hwi_oauth_login_url('github') }}">GitHub</a></li>
                <li><a href="{{ hwi_oauth_login_url('sensio') }}">SensioConnect</a></li>
            </ul>
        </li>
    </ul>
{% endif %}


<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">aVersion</a>
            <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="./">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('github.auth') }}">Sign in</a>
                    </li>
                    <li>
                        <a href="{{ path('github.auth') }}">Sign up</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="page">

            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
