{% extends "HalReleaseWebBundle::base.html.twig" %}

{% block body %}

    <div class="row">
        <div id="owner-profile" class="span4">


            <div class="media">
                <div class="pull-left">
                    <img class="img-polaroid" src="{{ owner.gravatarUrl }}"/>
                </div>
                <div class="media-body">
                    <a href="{{ owner.url }}"
                       target="_blank">{{ owner.login }}</a>
                    <br/> {{ repositories | length }} repositories
                </div>

            </div>


            <table class="table table-condensed ">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="label label-success">Latest</span></td>
                    <td>project uses latest versions</td>
                </tr>
                <tr>
                    <td><span class="label label-info">Recent</span></td>
                    <td>project uses recent versions</td>
                </tr>
                <tr>
                    <td><span class="label label-warning">OutOfDate</span></td>
                    <td>project uses deprecated versions</td>
                </tr>
                <tr>
                    <td><span class="label">empty</span></td>
                    <td>no information provided</td>
                </tr>
                </tbody>
            </table>



        </div>

        <div id="owner-repositories" class="span8">

            <h1>Repositories of {{ owner.login }}</h1>

            <p>
                Here you can get information about dependencies used by each branche of repository of <strong><a
                    href="{{ owner.url }}" target="_blank">{{ owner.login }}</a></strong>.
            </p>

            <p>

            </p>

            <table class="table table-stripped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Repository</th>
                    <th>Branches</th>
                </tr>
                </thead>
                <tbody>
                {% for repository in repositories if repository.enabled %}
                    <tr>
                        <td><a href="{{ repository.url }}">{{ repository.name }}</a></td>

                        <td>

                            {% for branche in repository.branches %}
                                <a href=""><span class="label">{{ branche.name }}</span></a>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>






    </div>
{% endblock %}