<!DOCTYPE html>
<html>
    <head>
        <base href="/" />
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" style="text/css" href="/bundles/halreleaseweb/css/app.css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>


        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="page">
                        <a href="{{ path('home') }}" class="brand"><img
                                src="{{ asset('bundles/halreleaseweb/img/layout/logo-dependency.png') }}"
                                alt="logo dependency.me"/></a>



                        <div class="menu">
                            <ul >
                                {% include 'HalReleaseWebBundle:Owner:block.userbar.html.twig' %}
                            </ul>
                        </div>


                        <form class="navbar-search" method="get" action="{{ path('repository.search') }}">
                            <input type="text" class="search-query" placeholder="Search" name="expression">
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="page">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <div class=" footer">
            <div class="container ">
                <div class="row">
                    <div class="page">
                        <div class="span4">
                            <ul class="unstyled">
                                <li class="nav-header">Help us</li>
                                <li><a href="#">Contribute to the source code</a></li>
                                <li><a href="#">Report an issue</a></li>
                            </ul>
                        </div>
                        <div class="span4">
                            <ul class="unstyled">
                                <li class="nav-header">Follow us</li>
                                <li><a href="#">dependency.me on Twitter</a></li>
                            </ul>
                        </div>
                        <div class="span4">
                            <p>
                                Copyright © {{ "now"|date("Y") }} <a href="http://blog.lepine.pro">Jean-François Lépine</a>
                                <br />
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
