{% if app.user is not null %}
    <li class="logout"><a href="{{ path('owner.repository.list') }}"><i class="icon icon-user icon-white"></i>  My <br />Account</a></li>
    <li class="logout"><a href="{{ path('repository.list.by.owner', {login: app.user.login}) }}"><i class="icon icon-book icon-white"></i> My  Repositories</a></li>
    <li class="logout"><a href="{{ path('_logout') }}"><i class="icon icon-off icon-white"></i> Logout ({{ app.user.login }})</a></li>
{% else %}
    <li><a href="{{ hwi_oauth_login_url('github') }}"><i class="icon icon-user icon-white"></i> Login with GitHub</a></li>
{% endif %}
